/*
*  @file: aplus-styles.scss
*  @description: A+ Test Prep & Tutoring 2014 SASS  compilation of former CSS Files
* @author: Anson Han, The Crafty Canvas (www.thecraftycanvas.com)
*/



/*
* HEADER 
*/

#branding {
	padding-bottom: 10px;
	position: relative;
	z-index: 9999;

	#header {
		overflow: hidden;
		padding: 0 15px 0 15px;

		#logo {
			float: left;
			width: auto;
			padding-top:10px;

			h1, p {
				margin: 0px;
				line-height: normal;
			}
			h1 a {
				display: block;
				letter-spacing: -3px;
				text-decoration: none;
				color: #303030;
				font-size:0px;
				background:url('../images-aplus/logo-transparent.png') no-repeat center center;
				width: 261px;
				height: 163px;
			}

			#site-title {
				a {
					font-weight: bold;
					line-height: 36px;
					text-decoration: none;
				}
				a:hover, a:focus, a:active {
					color: #1982d1;
				}
			} /* #site-title */

		} /* #logo */

	} /* #header */

	img {
		height: auto;
		margin-bottom: -7px;
		width: 100%;
	}
	#one-to-one-instruction-ribbon {
		background:url('../images-aplus/header-ribbon.png') no-repeat top center;
		position:absolute;
		top:-22px;
		right:0;
		display:block;
		width:240px;
		height:173px;
	}
} /* #branding */

/* END OF HEADER */




/*
* DESKTOP MAIN MENU
*/

#access {
	position:relative;
}


/* PRIMARY MENU LEVEL */
.menu-main-menu-container {
	overflow: hidden;
	width: 963px;
	height: 60px;
	border-radius: 5px;
	background: #cb2027;
}

#menu-main-menu {
	width: 963px;
	margin: 0px;
	padding: 0px;
	list-style:  none;
	line-height: 60px;
	letter-spacing: -1px;
	text-decoration: none;
    font-family: 'Gudea', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #FFFFFF;

	ul {
		margin: 0px;
		padding: 0px;
		list-style: none;
		line-height: normal;
	}

	li {
		float: left;
		padding: 0px 0px 0px 20px;
		white-space: nowrap;

		span {
			display: inline-block;
			height: 60px;
		}

		/* conceal submenus on initial load, dropotron will automatically extract the submenus into its own div */
		ul { 
			display: none; 
			visibility: hidden; 
		}
	}

	a {
		display: block;
		float: left;
		text-decoration: none;
		color: #FFFFFF;
	}

	a:hover { text-decoration: underline; }

	.arrow {
		background: url(../images/menu-icon-arrow-bg.png) no-repeat right 30px;
		padding-right: 20px;
		margin-right: 20px;
	}
} /* #menu-main-menu */


/** DROPOTRON submenu (main menu dropdown & flyouts) */
ul.dropotron { margin: 0 0 1.625em 0; }
.dropotron {
	max-width: 350px;
	padding: 0 0 0 0;
	background: #cb2027;
	letter-spacing: -1px;
	list-style: none;
	font-size: 14px;
	font-family: 'Maven Pro', sans-serif;
	font-weight: 400;
	color: #FFFFFF;
	border-radius: 5px;

	li {
		height: auto;
		padding: 0px 8px;
		line-height: 40px;
		color: #FFFFFF;
		white-space: normal !important;
		border: 1px solid #cb2027;
		border-radius: 5px;
		.arrow {}
	}

	li.opener { }
	li:hover { background: #ffffff; border: 1px solid #cb2027; }
	li:hover > a, li:hover > span { color: #cb2027; }
	
	.dropotron {
		margin-top:12px;
		width:200px;
	}

	a { text-decoration: none; color: #FFFFFF; }
	span { display: block; margin-right: -1px; }
	.first { border-top: none; }
} /* .dropotron */


/* PHONE NUMBER */
.callout-phone-number {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999999;
  padding-top: 12px;
  padding-right: 10px; 

  a, a:visited, a:active {
    color: #fff;
    text-decoration: none;
    font-family: 'Maven Pro', sans-serif;
    font-size: 32px;
    font-weight: 600;
    }
  a:hover { color: #2f3938; }

} /* .callout-phone-number */

/* END OF DESKTOP MAIN MENU */




/* 
* FOOTER
*/

#colophon {
	clear: both;
}

#footer p {
	margin: 0px;
	padding: 5px 0px 0px 0px;
	text-align: center;
	color: #444444;
}

#footer-content-bg {
	overflow: hidden;
	background: url('../images-aplus/background-footer.png') repeat;

	#footer-content-bgtop {
		overflow: hidden;
		padding: 25px 0px 40px 0px;

		#footer-content {
			width: 960px;
			margin: 0px auto;
			color: #AFAFAF;

			.widget-title {
				font-size: 24px;
				color: #FFFFFF;
			}
			#supplementary.three {
				.widget {
					margin: 0;
				}
				.textwidget {
					display: inline-block;
				}
				.widget-area {
					float: right;
					width: 30.85%;
				}
				.widget-area + .widget-area + .widget-area {
					margin-right: 0;
				}
			}
			#supplementary {
				.widget-title {
					padding-top:0px;
					padding-bottom:10px;
				}

				#first {
					float: left;
					width: 270px;
					padding-right: 15px;

					/* newsletter signup region of footer */
					#newsletterSignupForm {
						p { margin-bottom:0; }
						.form-row {
							clear:both;
							width:100%;
							float:left;
							padding-top:10px;
						}
						#newsletterSignupSubmit {
							background:url('../images-aplus/signup.png') no-repeat top left;
							width: 125px;
							height: 43px;
							display:block;
							font-size:0px !important;
							border:none;
							padding:0;
							float:left;
							position:relative;
							left:-10px;
							top:-5px;
						}
					} /* #newsletterSignupForm */

					/* social media region of footer */
					#text-4 {
						.widget-title { padding-top:10px;}
		
						#follow {
							a {
								float:left;
								text-decoration:none;
								color: #fff;
								font-size:0px !important;
								display:block;
								padding-right:10px;
							}
							a.facebook {
								background:url('../images-aplus/social-sprite.png') no-repeat 0px 0px;
								width: 25px;
								height: 40px;
							}
							a.twitter {
								background:url('../images-aplus/social-sprite.png') no-repeat -35px 0px;
								width: 45px;
								height: 40px;
							}
							a.podcast_rss {
								background:url('../images-aplus/podcast_rss_icon.png') no-repeat top left;
								width: 48px;
								height: 40px;
								padding-right:0;
							}
						} /* #follow */
					} /* end social media region of footer */
				} /* first */

				#second {
					float: left;
					width: 400px;
					padding-right: 5px;
	
					address, p {
					  margin:0;
					  line-height:1.5em;
					  font-size:1em;
					  font-style:normal;
					}

					/* Contact Us blurb */
					#text-5 {
						width:150px;
						display:inline-block;
						float:left;
						clear:left;
					}
					/* end Contact Us blurb */

					/* MY A+ SIGN IN FORM */
					#text-7 {
						width:200px;
						display:inline-block;
						float:right;
						clear:right;


						#footer-login {
							.call {
								width: 60px;
								display: inline-block;
							}
							.phone input {
								padding:3px;
							}
							input[type="submit"] {
								margin-top:10px;
								margin-right:10px;
							}
							a {
								font-style: italic;
								position: relative;
								top: 6px;
								left: 2px;
							}
						}
					} /* end #text-7, MY A+ SIGN IN FORM */

				} /* #second */

				#third {
					float: right;
					width: 240px;

					/* badge region of footer */
					#badge {
						background:url('../images-aplus/footer-badge.png') no-repeat top center;
						display:block;
						width:230px;
						height:234px;
						float:right;
					}
				} /* #third */

			} /* #supplementary */

		} /* #footer-content */
	} /* #footer-content-bgtop */
} /* #footer-content-bg */



#subfooter {
	overflow: hidden;
	height: auto;
	text-align:center;
	color:#fff;
	background: url('../images-aplus/background-subfooter.png') repeat;
	padding:10px 0 5px 0;

	p {
	  color:#fff;
	  margin:0;
	}

	.menu-footer-links-container {
		display:inline-block;

		ul {
			list-style:none;
			margin:auto;
			padding:0;
	
			li {
				float:left;
				padding:5px 10px;
				a {
					color:#fff;
					font-size:10px;
					text-decoration:none;
				}
				a:hover {
					text-decoration:underline;
				}
			}
		}
	} /* .menu-footer-links-container */
} /* #subfooter */

/* END OF FOOTER */
