/*
Google Fonts:
font-family: 'Maven Pro', sans-serif;
*/
@font-face {
    font-family: 'Maven Pro';
    src: url('../fonts/MavenPro-Black.ttf');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Maven Pro';
    src: url('../fonts/MavenPro-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Maven Pro';
    src: url('../fonts/MavenPro-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Maven Pro';
    src: url('../fonts/MavenPro-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}





html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #5B5B5B;
}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
  font-family: 'Gudea', sans-serif;
	font-weight: 400;
}

p, ol, ul {
	margin-top: 0px;
}

p, ol {
	line-height: 180%;
}

strong {
}

a {
	color: #cb2027;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img.border {
}

img.alignleft {
	float: left;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

hr {
	display: none;
}

/** WRAPPER */

#wrapper {
	padding-top: 50px;
}

#content-wrapper {
	width: 963px;
	padding: 0px 19px 50px 18px;
	background: #FFFFFF;
	border-radius: 10px;
}

.container {
	width: 1000px;
	margin: 0px auto;
}

.clearfix {
	clear: both;
}



/** CONTACT */

#contact-wrapper {
	max-width: 300px;
	padding-top: 50px;
	font-family: 'Maven Pro', sans-serif;
	text-align: left;
	position: absolute;
  bottom: 0;
  left: 40%;
}
#contact {
  position:relative;
  border-top:3px solid #cb2027;
  border-left:3px solid #cb2027;
  border-right:3px solid #cb2027;
  border-radius: 10px 10px 0 0;
}

#contact .call {
	padding-right: 8px;
	letter-spacing: -1px;
	font-size: 20px;
	color: #9A9A9A;
}

#contact .phone {
	letter-spacing: -2px;
	font-size: 30px;
	color: #3A3A3A;
	position: relative;
	top: 2px;
}

/** MENU */

.menu-main-menu-container {
	overflow: hidden;
	width: 963px;
	height: 60px;
	border-radius: 5px;
	background: #cb2027;
}

#menu-main-menu {
	width: 963px;
	margin: 0px;
	padding: 0px;
	list-style:  none;
	line-height: 60px;
	letter-spacing: -1px;
	text-decoration: none;
  font-family: 'Gudea', sans-serif;
	font-size: 18px;
	font-weight: 400;
/*	color: #FFFFFF;*/
}

#menu-main-menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	line-height: normal;
}

#menu-main-menu li {
	float: left;
	padding: 0px 0px 0px 20px;
	white-space: nowrap;
}

#menu-main-menu a {
	display: block;
	float: left;
	text-decoration: none;
	color: #FFFFFF;
}

#menu-main-menu a:hover {
	text-decoration: underline;
}

#menu-main-menu li span {
	display: inline-block;
	height: 60px;
}

#menu-main-menu .arrow {
	background: url(../images/menu-icon-arrow-bg.png) no-repeat right 30px;
	padding-right: 20px;
	margin-right: 20px;
}

/** DROPOTRON */

ul.dropotron {
margin: 0 0 1.625em 0;
}

.dropotron li.opener {
}

.dropotron {
	max-width: 350px;
	padding: 0 0 0 0;
	background: #990000;
	letter-spacing: -1px;
	list-style: none;
	font-size: 14px;
	font-family: 'Maven Pro', sans-serif;
	font-weight: 400;
	color: #FFFFFF;
}
.dropotron .dropotron {
  background: #cc0000;
  margin-top:12px;
  width:200px;
}

.dropotron a {
	text-decoration: none;
	color: #FFFFFF;
}

.dropotron li {
	height: auto;
	padding: 0px 10px;
	line-height: 40px;
	color: #FFFFFF;
	white-space: normal !important;
}
.dropotron .dropotron li {
	height: auto;
	padding: 0px 10px;
	line-height: 40px;
	color: #FFFFFF;
	white-space: normal !important;
}

.dropotron li:hover {
	background: #902B2E;
}

.dropotron li:hover > a, .dropotron li:hover > span {
	color: #FFFFFF;
}

.dropotron li .arrow {
}

.dropotron span {
	display: block;
	margin-right: -1px;
}

.dropotron li:hover > span {
}

.dropotron .first {
	border-top: none;
}

/** PAGE */

#page {
	overflow: hidden;
	padding: 15px 10px 0px 10px;
}

.home #page
{
	padding-left: 0px;
	padding-right: 0px;
}

/** CONTENT */

#content {
	float: left;
	width: 600px;
  display:inline-block;
}

.two-column2 #content {
	float: right;
}
.entry-header {
margin-bottom:15px;
}

/** SIDEBAR */

#secondary {
	float: right;
	width: 300px;
}

.two-column2 #sidebar {
	float: left;
}

/** FOOTER */

#subfooter {
	overflow: hidden;
	height: auto;
	padding:0;
	text-align:center;
	color:#fff;
	background: url('../images-aplus/background-subfooter.png') repeat;
  padding:10px 0 5px 0;
}
#subfooter p {
  color:#fff;
  margin:0;
}

#footer p {
	margin: 0px;
	padding: 5px 0px 0px 0px;
	text-align: center;
	color: #444444;
}

#footer-content-bg {
	overflow: hidden;
	background: url('../images-aplus/background-footer.png') repeat;
}

#footer-content-bgtop {
	overflow: hidden;
	padding: 25px 0px 40px 0px;
}

#footer-content {
	width: 960px;
	margin: 0px auto;
	color: #AFAFAF;
}

#footer-content .widget-title {
	padding-bottom: 25px;
	font-size: 24px;
	color: #FFFFFF;
}

#footer-content #supplementary #first {
	float: left;
	width: 270px;
	padding-right: 15px;
}

#footer-content #supplementary #second {
	float: left;
	width: 400px;
	padding-right: 5px;
}
#footer-content #second address, #footer-content #second p {
  margin:0;
  line-height:1.5em;
  font-size:1em;
  font-style:normal;
}

#footer-content #supplementary #third {
	float: right;
	width: 240px;
}

/** THREE COLUMNS */

#three-columns {
}

#three-columns #column1 {
	float: left;
	width: 313px;
	padding-right: 17px;
	height: 560px;
	position:relative;
}
#three-columns #column1 .youTubeWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
}
#three-columns #column2 {
	float: left;
	width: 311px;
	height:390px;
	position:relative;
}

#three-columns #column3 {
	float: right;
	width: 300px;
	min-height:390px;
	position:relative;
}

/** BOX 1 */

#box1 {
	margin-bottom: 20px;
}

/** BOX 2 */

#box2 {
}

ul.style1, .widget-area ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.entry-content ul {
	margin: 0 0 0 10px;
	padding: 0px;
	list-style: none;
}
.entry-content ul li h2 {
  margin: 0;
}
ul.style1 li, .widget-area ul li, .entry-content ul li {
	padding-left: 15px;
	padding-bottom: 12px;
	background: url(../images/list-icon-bg.png) no-repeat left 7px;
}
ul.style1 a, .widget-area ul a, .entry-content ul a {
	text-decoration: none;
	color: #AFAFAF;
}
ul.style1 a:hover, .widget-area ul a:hover, .entry-content .ul a:hover {
	text-decoration: underline;
	color: #AFAFAF;
}

ul.style2 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style2 li {
	padding-bottom: 6px;
}

ul.style2 h3 {
	margin: 0px;
	padding: 3px 0px 5px 0px;
	font-weight: bold;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

ul.style2 img {
	float: left;
	margin-right: 20px;
}


ul.style3 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style3 li {
	line-height: 160%;
	padding: 0px 0px 25px 0px;
}

ul.style3 a {
	text-decoration: none;
	color: #5B5B5B;
}

ul.style3 a:hover {
	text-decoration: underline;
}

ul.style3 span {
	margin-top: 2px;
	margin-bottom: 5px;
}

ul.style3 span {
	display: inline-block;
	float: left;
	width: 60px;
	height: 38px;
	margin-right: 20px;
	background: #66141E;
	border-radius: 5px;
	line-height: 38px;
	letter-spacing: -1px;
	text-align: center;
	text-decoration: none;
	font-family: 'Maven Pro', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #FFFFFF;
}
ul.style3 li.first a span {
	background: #931C24;
}
ul.style3 li.last a span {
	background: #CB2027;
}
ul.style3 span a:hover {
  color:#ffffff !important;
}

ul.style3 span a:hover {
	text-decoration: none;
}


ul.style3 .first {
	padding-top: 0px;
}

/** IMAGE BORDER STYLE 1 */

.image-style1 {
	position: relative;
	float: left;
	width: 54px;
	height: 51px;
	margin-right: 20px;
}

.image-style1 span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.image-style1 img {
	position: absolute;
	top: 0;
	left: 0;
}

.image-style1a span {
	background: url(../images/footer-img-border-bg-01.png) no-repeat left top;
}

/** IMAGE BORDER STYLE 2 */

.image-style2 {
	position: relative;
	width: 300px;
	height: 108px;
	margin-bottom: 15px;
}

.image-style2 span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.image-style2 img {
	position: absolute;
	top: 0;
	left: 0;
}

.image-style2a span {
	background: url(../images/image-border-bg.png) no-repeat left top;
}

/** IMAGE BORDER STYLE 3 */

.image-style3 {
	position: relative;
	width: 300px;
	height: 108px;
	margin-bottom: 20px;
}

.image-style3 span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.image-style3 img {
	position: absolute;
	top: 0;
	left: 0;
}


/** IMAGE BORDER STYLE 1 */

.image-style4 {
	position: relative;
	float: left;
	width: 202px;
	height: 138px;
	margin-right: 30px;
}

.image-style4 span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.image-style4 img {
	position: absolute;
	top: 0;
	left: 0;
}

.image-style4a span {
	background: url(../images/sub-image-border-bg.png) no-repeat left top;
}

/** IMAGE BORDER STYLE 5 */

.image-style5 {
	position: relative;
	width: 240px;
	height: 323px;
}

.image-style5 span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.image-style5 img {
	position: absolute;
	top: 0;
	left: 0;
}

.image-style5a span {
	background: url(../images/banner-image-border-bg.png) no-repeat left top;
}

.caption {
	position: absolute;
	width: 240px;
	height: 73px;
	background: red;
	top: 0;
	left: 0;
}

.link-style1 {
	display: inline-block;
	float: right;
	width: 116px;
	height: 38px;
	margin-top: 15px;
	background: #2f3938;
	border-radius: 5px;
	line-height: 38px;
	text-align: center;
	text-decoration: none;
	font-family: 'Maven Pro', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #FFFFFF;
}

.link-style2 {
	display: inline-block;
	width: 116px;
	height: 38px;
	margin-top: 10px;
	background: #cb2027;
	border-radius: 5px;
	line-height: 38px;
	text-align: center;
	text-decoration: none;
	font-family: 'Maven Pro', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #FFFFFF;
}

.entry-title, .title {
	padding: 0px 0px 15px 0px;
	font-size: 28px;
	color: #2f3938;
}


#banner {
	overflow: hidden;
	margin-top: 30px;
}

#banner ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#banner li {
	float: left;
	margin-left: 1px;
}

#banner .first {
	margin-left: 0px;
}

#cbox1 {
}

#cbox1 .heading {
	background: url(../images-aplus/callout1-title.png) no-repeat center top;
	width:240px;
}

#cbox1 .box-overlay {
	background: url(../images-aplus/callout-background1.png) no-repeat center;
	width:240px;
}

#cbox1 .link-style2 {
	background: #a51c20;
}

#cbox2 .heading {
	background: url(../images-aplus/callout2-title.png) no-repeat center top;
	width:240px;
}

#cbox2 .box-overlay {
	background: url(../images-aplus/callout-background2.png) no-repeat center;
	width:240px;
}

#cbox2 .link-style2 {
	background: #cb2027;
}

#cbox3 {
}

#cbox3 .heading {
	background: url(../images-aplus/callout3-title.png) no-repeat center top;
	width:240px;
}

#cbox3 .box-overlay {
	background: url(../images-aplus/callout-background3.png) no-repeat center;
	width:240px;
}

#cbox3 .link-style2 {
	background: #82393F;
}

#cbox4 {
}

#cbox4 .heading {
	background: url(../images-aplus/callout4-title.png) no-repeat center top;
	width:240px;
}

#cbox4 .box-overlay {
	background: url(../images-aplus/callout-background4.png) no-repeat center;
	width:240px;
}

#cbox4 .link-style2 {
	background: #5f6062;
}

.box {
	position: relative;
	border-radius: 10px;
	overflow: hidden;
	width: 240px;
	height: 323px;
}

/* Webkit bug fix: Webkit currently doesn't respect combining border-radius/overflow hidden */
.box .rctl { position: absolute; top: 0; left: 0; width: 10px; height: 10px; border-top-left-radius: 10px; box-shadow: -5px -5px 0px 5px #ffffff; z-index: 2; }
.box .rctr { position: absolute; top: 0; right: 0; width: 10px; height: 10px; border-top-right-radius: 10px; box-shadow: 5px -5px 0px 5px #ffffff; z-index: 2; }
.box .rcbl { position: absolute; bottom: 0; left: 0; width: 10px; height: 10px; border-bottom-left-radius: 10px; box-shadow: -5px 5px 0px 5px #ffffff; z-index: 2; }
.box .rcbr { position: absolute; bottom: 0; right: 0; width: 10px; height: 10px; border-bottom-right-radius: 10px; box-shadow: 5px 5px 0px 5px #ffffff; z-index: 2; }

.box .heading {
	position: absolute;
	width: 240px;
	height: 73px;
	bottom: 0;
	left: 0;
	text-align: center;
}

.box .heading a {
	display: block;
	padding-top: 30px;
	text-decoration: none;
	letter-spacing: -2px;
	text-align: center;
	font-family: 'Maven Pro', sans-serif;
	font-size: 24px;
	color: #FFFFFF;
}

.box-overlay {
	position: absolute;
	top: 263px;
	left: 0;
	z-index: 1;
	width: 240px;
	height: 323px;
	background: url(../images/box-overlay-bg-02.png) repeat left 20px;
	border-radius: 10px;
}

.box-overlay p {
	text-align: left;
	color: #FFFFFF;
	cursor: default;
	line-height:142%;
}

.box-overlay .content {
	padding: 0px 30px;
}

.box-overlay .heading {
	display: block;
	height: 24px;
	padding-top: 28px;
	text-decoration: none;
	letter-spacing: -1px;
	text-align: center;
	/*font-family: 'Maven Pro', sans-serif;*/
  font-family: 'Gudea', sans-serif;
	font-size: 24px;
	color: #FFFFFF;
	position: relative;
	top: -13px;
}


